body {
  background-color: #F9F2EF;
  margin: 0;
  padding: 20px;
}

h1 {
  font-size: 28px;
  color: #F98C53; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 22px;
  color: #F98C53; 
  background: linear-gradient(to right, white, #FCCEB4);
  padding: 5px;
  border-left: 5px solid #F98C53;
  margin-top: 30px;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color:#4E342E;
}

a {
  color: #496eb1;
  text-decoration: none;
}

a:visited {
  color: #9b59b6;
}
a:hover {
  text-decoration: underline;
}

