p {
	color: navy;
}

p.info {
	color: #dfdfdf;
	font-size: small;
}

p.info {
	font-size: 10pt;
}

h1 {
	text-shadow:navy 1px 0 10px;
	color: white;
}

h2 {
	margin: 5px;
	color: #3f3faf;
	font-family: cursive;
	background: linear-gradient(to right,white, #ffefaf);
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 1024px;
	column-gap: 10px;
	row-gap: 10px;
}

div#zentai > div {
	padding: 5px;
	height: 200px;
	background-color: #ffefaf;
}

img {
    float: right; 
    width: 80px;
    height: 80Spx;
    margin: 10px 10px 10px 0;
}
